.caixa{
    background-color: #3F51B5;
}
.titulo{
    color: black !important; 
    font-weight: bold; 
}
.botao{
    border-color: white;
    background-color: #3F51B5;
    color: white !important;
}
.postagens{
    background-color: color;
}
.text-decorator-none{
    text-decoration: none;
}